/*variables*/
$color-dark:#262626;
$color-black:#000;
$color-primary:#d3ab55;
$color-secondary:#bbb;
$color-white: white;

$font-dancing:'Dancing Script', 'cursive';
$font-josefin:'Josefin Sans',Sans-serif;
$font-nunito:'Nunito',Sans-serif;

// PARA MEJORAR LOS COLORES HACER CON MAP




$color:(
    "dark" :#262626,
    "black": #000,
    "primary": #d3ab55,
    "secondary": #bbb,
    "white": white,
);
/*
$font-family:(
    "dancing": 'Dancing Script', 'cursive',
    "josefin":'Josefin Sans','Sans-serif',
    "nunito": 'Nunito','Sans-serif',
);
*/



//zona de mixin

@mixin flexlayout {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin textStyles($transform: uppercase) {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}
/*  CENTRAR Y POSICIONAR */
@mixin centering($topvalue) {
    position: absolute;
    top: $topvalue;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin tamanofuente($sm, $md, $lg) {
    @media(min-width: 576px) {
        font-size: $sm;
    }
    @media (min-width:768px) {
        font-size: $md;
    }
    @media (min-width:992px) {
        font-size: $lg;
    }
}

%fullspace{
    width:100%;
    height: 100%;
}

@function obtenerColor($nombre){
    @return map-get($color , $nombre);
}
//que usaré en el resto de documentos

/*inicializar todos los elementos sin margin y padding*/
* {
    margin:0;
    padding:0;
}
body{
    background-color: obtenerColor("dark");
}